ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.todo-container{
    height: 66vh;
    margin-top: 20px;
    padding-top: 8px;
    overflow-y: auto;
    overscroll-behavior: contain;
}