.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: var(--card);
  margin: 20px auto;
  border-radius: 4px;
  box-shadow: 12px 20px 2px -3px rgb(0 0 0 / 10%);
  width: 332px;
  position: absolute;
  top: calc(24%);
}

.create-title {
  font-size: 3.2rem;
}

.create-subtitle {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 12px 0 4px;
}

.create-input {
  width: 248px;
  height: 120px;
  border: solid 2px #9aa5b1;
  border-radius: 1rem;
  background: var(--gunmetal);
  padding: 1rem;
  font-size: 1rem;
  color: var(--main-text);
  resize: none;
}

.create-input::placeholder {
  color: var(--secondary-text);
  font-size: 1.2rem;
}

.create-input:focus {
  outline: none;
  border: 2px solid var(--enfasis-2);
}


/* BUTTON CSS */
/* From uiverse.io by @nikk7007 */
.submitTask {
  padding: 0.8em 1.8em;
  margin: 32px 0 12px;
  border: 2px solid var(--enfasis-2);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: var(--enfasis-2);
 }

 .notSubmitTask {
  padding: 0.8em 1.8em;
  margin: 32px 0 12px;
  border: 2px solid var(--task);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: var(--task);
  background: var(--gunmetal)
 }
 
 .submitTask::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--enfasis-2);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .submitTask:hover::before {
  width: 105%;
 }
 
 .submitTask:hover {
  color: #111;
  cursor: pointer;
 }