.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: var(--card);
  margin: 20px auto;
  border-radius: 4px;
  box-shadow: 12px 20px 2px -3px rgb(0 0 0 / 10%);
  width: 332px;
}

.create-title {
  font-size: 3.2rem;
}

.create-subtitle {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 12px 0 4px;
}

.create-input {
  width: 248px;
  border: solid 2px #9aa5b1;
  border-radius: 1rem;
  background: var(--gunmetal);
  padding: 1rem;
  font-size: 1rem;
  color: var(--main-text);
}

.create-input::placeholder {
  color: var(--secondary-text);
  font-size: 1.2rem;
}

.create-input:focus {
  outline: none;
  border: 2px solid var(--enfasis-2);
}

